body {
  font-family: Tahoma, sans-serif;
  background-color: #e6f0ff;
  padding: 100px;
  text-align: center;
}

h1 {
  color: #003366;
  margin-bottom: 20px;
}

.container {
  background-color: white;
  padding: 20px;
  border: 2px solid #66a3ff;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 51, 102, 0.2);
  text-align: left;
}

.textfield {
  padding: 6px;
  margin-right: 10px;
  border: 1px solid #66a3ff;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.textfield:focus {
  outline: 1px solid #3399ff;
}
.textfield:hover {
  background-color: rgb(241, 241, 241);
}

.checkbox {
  margin-right: 10px;
  background-color: #3399ff;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #3399ff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1a8cff;
}

#resultContainer {
  font-size: 18px;
  margin-top: 15px;
  padding: 10px;
  border: #66a3ff solid 2px;
  min-height: 30px;
  border-radius: 4px;
  color: #003366;
  background-color: #f0f6ff;
  transition: 0.3s;
}

.main-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.box img {
  width: 200px;
  height: auto;
}

.box {
  border: 2px solid black;
  padding: 20px;
}
